<!DOCTYPE html>
<html>

<head>
    <title>#VOICEROID 琴葉らくがき - nanagiのイラスト - pixiv</title>
    <link rel="stylesheet" href="template/css/style.css" type="text/css">
    <meta charset="UTF-8">
</head>

<body>
    <div class="pixiv-base">
        <div class="secondly-pixiv-base">
            <main class="main-contents">
                <section class="main-section">
                    <div class="illusts-wrapper">
                        <div class="illusts-tiele-etc-wrapper">
                            <figure class="illusts-figure">
                                <div class="illusts">
                                    <a href="https://i.pximg.net/img-original/img/2019/12/29/23/49/26/78570933_p0.jpg"
                                        class="illust-a" target="_blank"
                                        rel="noopener"><img alt="#VOICEROID 葵 - nanagiのイラスト"
                                            src="template/img/test_01.jpg"
                                            class="illust-images"
                                            style="height: 730px;">
                                    </a>
                                </div>

                                <div class="illusts">
                                    <a href="https://i.pximg.net/img-original/img/2019/12/29/23/49/26/78570933_p0.jpg"
                                        class="illust-a" target="_blank"
                                        rel="noopener"><img alt="#VOICEROID 葵 - nanagiのイラスト"
                                            src="template/img/test_01.jpg"
                                            class="illust-images"
                                            style="height: 730px;">
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                </section>
            </main>
            <aside class="aside-contents">
            </aside>
        </div>
    </div>
</body>

</html>